---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title='Welcome'>
  <main
    class='flex h-full w-full flex-col items-center justify-center bg-red-100 pt-40'
  >
    <section
      class='flex max-w-7xl flex-col items-center justify-evenly gap-8 md:flex-row'
    >
      <div class='flex flex-col gap-4'>
        <h1 class='text-4xl font-bold'>Welcome to Astro</h1>
        <p class='text-lg'>
          This is a simple Astro starter template with Tailwind CSS.
        </p>
        <p class='text-lg'>
          You can use this template to build your own Astro project.
        </p>
      </div>

      <div class='flex flex-col gap-4'>
        <h2 class='text-2xl font-bold'>Features</h2>
        <ul class='list-inside list-disc'>
          <li>HTML, CSS, and JavaScript</li>
          <li>Markdown and MDX</li>
          <li>Layouts and Components</li>
          <li>SEO and Social Meta Tags</li>
          <li>Dark Mode and Light Mode</li>
          <li>Responsive Design</li>
          <li>Performance Optimized</li>
        </ul>
      </div>
    </section>
  </main>
</BaseLayout>
