---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title='Welcome'>
  <main
    class='flex h-full w-full flex-col items-center justify-center'
  >
    <section
      class='w-full h-[100vh] bg-red-100 md:pt-48 md:px-20 pt-20 px-12 flex justify-center items-start'
    >
      <div class="flex md:flex-row flex-col gap-8 max-w-7xl">
        <div class="flex flex-col items-start justify-center gap-8">
          <h1 class="font-bold text-3xl md:text-5xl">The Link That Connects Everything About You.</h1>
          <p class="max-w-2xl">
            Share all your important links in one place. Perfect for social media bios, email signatures, and <a href="#usage" class="hover:underline">many more</a>.
          </p>
        </div>
        <div class="flex flex-col items-center justify-center gap-8">
          <div class="mobile w-[350px] h-[600px] rounded-3xl bg-white shadow-lg border-4 border-gray-800"></div>
        </div>
      </div>
    </section>
  </main>
</BaseLayout>
