---
import HooksyLinkTemplate from '../HooksyLinkTemplate/';
---

<div
  class='mobile relative !h-[500px] !w-[250px] overflow-hidden rounded-[48px] border-4 border-gray-800 shadow-lg md:!h-[600px] md:!w-[300px] 2xl:!h-[700px] 2xl:!w-[350px]'
>
  <!-- <div class='h-20 w-20 bg-gradient-to-r from-[#FF0000] to-[#00FF00]'></div> -->
  <HooksyLinkTemplate client:load />
</div>
