---
import MobileTopbar from './MobileTopbar';

const links = ['templates', 'pricing', 'about'];
---

<main class='flex w-full items-center justify-center'>
  <nav
    class='fixed top-6 mx-auto flex w-[90%] max-w-7xl items-center justify-between rounded-full bg-white p-4 pl-6 pr-5 lg:p-6 lg:pl-10 lg:pr-8'
  >
    <a href='/' class='flex items-end justify-center gap-1'>
      <img
        src='/public/logo/hooksylink_logo.png'
        alt='HooksyLink'
        class='h-7 w-7 md:h-10 md:w-10'
      />
      <h1
        class='topbar-title text-lg font-extrabold text-slate-700 md:text-2xl'
      >
        ooksyLink
      </h1>
    </a>

    <div class='hidden items-center justify-center gap-1 md:flex'>
      {
        links.map((link) => (
          <a
            href={`/${link}`}
            class='rounded-full px-2 text-base capitalize transition-all hover:bg-slate-200 hover:py-1.5 lg:px-6 lg:text-lg lg:hover:py-3'
          >
            {link}
          </a>
        ))
      }
    </div>

    <div class='hidden gap-4 text-base md:flex lg:text-lg'>
      <button
        class='login-button whitespace-nowrap rounded-lg bg-slate-200 font-semibold md:p-3 md:px-6 lg:p-4 lg:px-8'
      >
        <a href='/login'>Login</a>
      </button>
      <button
        class='sign-up-button whitespace-nowrap rounded-full bg-slate-900 font-semibold text-white md:p-3 md:px-6 lg:p-4 lg:px-8'
      >
        <a href='/sign-up'>Sign up free</a>
      </button>
    </div>
    <div class='flex gap-4 text-lg md:hidden'>
      <MobileTopbar links={links} client:only />
    </div>
  </nav>
</main>

<style>
  .topbar-title {
    text-shadow: 2px 4px #f8f4e1;
  }
  .login-button:hover {
    padding-right: 48px;
    padding-left: 48px;
  }
  .sign-up-button:hover {
    padding-right: 48px;
    padding-left: 48px;
  }
  .login-button,
  .sign-up-button {
    padding-right: 32px;
    padding-left: 32px;
    transition: all 0.2s;
  }
</style>
