---
import BaseLayout, { type Props as BaseLayoutProps } from './BaseLayout.astro';
import AdminNavigation from '../components/AdminNavigation';

export interface Props extends BaseLayoutProps {}

const props = Astro.props;
---

<BaseLayout {...props} noIndex={true}>
  <div slot='slot-topbar'></div>
  <div class='bg-background flex h-full w-full items-center justify-center'>
    <slot name='slot-sidebar'>
      <AdminNavigation client:load />
    </slot>

    <div class='flex h-full w-full'>
      <slot />
    </div>

    <div class='flex h-full w-full flex-col items-center justify-center gap-6'>
      <slot name='slot-topbar'>
        <!-- <AdminTopbar /> -->
      </slot>
      <slot name='slot-preview'>
        <!-- <PreviewTemplate /> -->
      </slot>
    </div>
  </div>
</BaseLayout>
