---
import AdminLayout from '../../layouts/AdminLayout.astro';
---

<AdminLayout title='Content'>
  <div class='flex w-full flex-col p-8'>
    <h1 class='text-3xl font-bold'>Content</h1>
    <p class='text-lg'>This is the content page</p>
  </div>
</AdminLayout>
