---
import AdminLayout from '../../layouts/AdminLayout.astro';
---

<AdminLayout title='Design'>
  <div class='flex w-full flex-col p-8'>
    <h1 class='text-3xl font-bold'>Design</h1>
    <p class='text-lg'>This is the design page</p>
  </div>
</AdminLayout>
