---
import AdminLayout from '../../layouts/AdminLayout.astro';
---

<AdminLayout title='Admin'>
  <div class='flex w-full flex-col p-8'>
    <h1 class='text-3xl font-bold'>Admin</h1>
    <p class='text-lg'>This is the admin page</p>
  </div>
</AdminLayout>
