---
import AdminLayout from '../../layouts/AdminLayout.astro';
---

<AdminLayout title='Settings'>
  <div class='flex w-full flex-col p-8'>
    <h1 class='text-3xl font-bold'>Settings</h1>
    <p class='text-lg'>This is the settings page</p>
  </div>
</AdminLayout>
