---
import AdminLayout from '../../layouts/AdminLayout.astro';
---

<AdminLayout title='Social Link'>
  <div class='flex w-full flex-col p-8'>
    <h1 class='text-3xl font-bold'>Social Link</h1>
    <p class='text-lg'>This is the social link page</p>
  </div>
</AdminLayout>
